# macOS
.DS_Store
.idea

# Sublime text
.sublimelinterrc

# Python
*.pyc
__pycache__

# Python package
dist/
*.egg-info
build/

# Sublime text
*.sublime-project
*.sublime-workspace

# Generated
README.rst
requirements.txt

# Data Engineer solution module
solution.py
